.validate {
  display: flex;
  flex-direction: column;

  &__input {
    border: 1px solid #f00b1d;
  }

  &__error {
    margin-left: 5px;
    color: #f00b1d;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    
    &_last {
      margin-bottom: 20px;
    }
  }

  &__main-error {
    color: #f00b1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 15px;
    text-align: center;
  }
}
