@import '@/assets/styles/variables.scss';

.company-products {
  width: 936px;
  background: #ffffff;
  margin-left: 20px;
  padding: 20px 0 0 0;
  box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
  border-radius: 10px;
  @media (max-width: 768px) {
    margin-left: 0;
    background: none;
    margin-left: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }

  &__top {
    padding: 0 20px;

    @media (max-width: 768px) {
      padding: 0;
    }

    &_desk {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    // &_mob {
    //   display: none;
    //   @media (max-width: 768px) {
    //     display: block;
    //   }
    //   @media (max-width: 600px) {
    //     height: 100%;
    //     margin-top: 15px;
    //     padding-left: 20px;
    //     margin-bottom: 13px;
    //   }
    // }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #262626;
    &_span {
      color: #999999;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    margin-left: 17px;
  }

  &__select {
    margin-top: -28px;
    margin-right: 0;
  }

  &__row {
    margin-top: 15px;
    padding: 20px 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #e5e0e0;
    transition: all 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (max-width: 1230px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      border-top: none;
      margin: 11px -5px;
      background: #ffffff;
      box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
    }
    @media (max-width: 650px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 13px 0;
      padding: 10px 6px 10px 6px;
    }
    @media (max-width: 470px) {
      grid-template-columns: repeat(2, 1fr);
    }
    & .product {
      width: 100%;
      height: auto;
      max-height: 400px;
      min-height: auto;
      margin-bottom: 17px;
      position: relative;
      display: inline-block;
      padding: 0 10px;
      @media (max-width: 768px) {
        padding: 0 5px;
        margin-bottom: 10px;
      }
      &:hover {
        & .product-switcher__imgs {
          & img {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
      &-add {
        &__block {
          position: absolute;
          top: 28%;
          left: 0;
          right: 0;
          text-align: center;
        }
        &__img {
          padding-top: 0;
          width: 100%;
          position: relative;
        }
        &__text {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          color: #999999;
          margin-top: 10px;
          display: block;
          @media (max-width: 360px) {
            font-size: 16px;
          }
        }
        &__rectangle {
          background: #e6e6e6;
          color: #e6e6e6;
          height: 10px;
          display: block;
          margin-bottom: 6px;
          &:nth-child(1) {
            margin-top: 17px;
          }
          &:nth-child(3) {
            height: 12px;
            width: 81px;
          }
          &:nth-child(4) {
            height: 10px;
            width: 134px;
          }
        }
      }

      &-wrapper {
        position: relative;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        direction: ltr;
        padding: 0;
        overflow: hidden;
      }
      &-gallery {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-between;
        &__link {
          position: relative;
          display: block;
        }
      }

      &-switcher {
        position: relative;
        border-radius: 10px;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        &_imgs {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
        }
        &__imgs > img {
          -webkit-text-size-adjust: 100%;
          border-radius: 10px;
          direction: ltr;
          margin: 0;
          padding: 0;
          font: inherit;
          color: transparent;
          font-size: 0;
          vertical-align: middle;
          border: none;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(1);
          max-width: 100%;
          max-height: 100%;
          transition: transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1),
            -webkit-transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }

      &-text {
        height: 80px;
        position: relative;
        @media (max-width: 768px) {
          height: 84px;
        }
      }
      &-title,
      &-order,
      &-pcs {
        position: absolute;
        color: #404040;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.41px;
      }
      &-title {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        top: 12px;
        @media (max-width: 600px) {
          top: 10px;
        }
      }

      &-pcs {
        font-weight: 600;
        font-size: 16px;
        line-height: 18.75px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        bottom: 15px;
        @media (max-width: 600px) {
          bottom: 23px;
        }
      }

      &-order {
        font-family: 'Roboto';
        color: #999999;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        bottom: 0;
        @media (max-width: 600px) {
          bottom: 7px;
        }
        &__pcs {
          color: #404040;
        }
      }
    }
  }

  &-categories {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      width: auto;
      min-width: auto;
      //   height: auto;
    }
    @media (max-width: 600px) {
      padding-top: 15px;
      padding-bottom: 2px;
      padding-left: 20px;
    }

    &__item {
      margin-right: 20px;
      width: 57px;
      min-width: 57px;
      //   height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      margin-bottom: 7px;
      border-radius: 50%;
      background: #d9d9d9;
      &.active {
        border: 1px solid #ff5833;
      }
    }

    &__text {
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #606060;
      &.active {
        color: #ff5833;
      }
    }

    & .ps__rail-y,
    .ps__rail-x {
      display: none;
    }
  }
}
