.all-categories {
  padding-top: 56px;
  display: none;
  @media (max-width: 670px) {
    display: block;
  }

  &__title {
    margin: 10px 0 0 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  }

  &__list {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(204, 204, 204, 0.6);
  }

  &__item {
    padding: 17px 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    border-bottom: 1px solid #f2f2f2;
    transition: all 0.3 ease;
    &:hover {
      color: #f00b1d;
    }
  }
}
