.companyWrapper {
  margin-top: -20px;
}
.company {
  margin-top: 20px;
}
.company .sidebar {
  padding: 0;
  height: 214px;
  position: sticky;
  top: 90px;
  background: #fff;
  border-radius: 10px;
  width: 244px;
}

.company .sidebar-list {
  border: 0;
  padding: 0;
  margin-top: 10px;
}

.company .sidebar-link {
  height: 32px;
  width: 100%;
  padding-left: 14px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #262626;
  cursor: pointer;
  &:hover {
    color: #0a8745;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 26px;
      background-color: #0a8745;
    }
  }
}
.company .products-sidebar {
  height: 90px;
  position: sticky;
  top: 90px;
  background: #fff;
  border-radius: 10px;
  width: 244px;
  padding: 14px 5px 17px 20px;
  box-sizing: border-box;
}
.products-sidebar {
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    width: 100%;
  }
  &__list {
    border-top: 1px solid #e6e0e0;
    margin-top: 8px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #262626;
  }
}
.company .similar-info {
  width: 244px;
  margin-top: 35px;
  margin-left: -20px;
}
.company .wrapper-slider {
  width: 896px;
  height: 504px;
  margin: 16px 20px 0 20px;
}
.company .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 15px;
}
.company .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
}
.company .swiper-pagination-bullet {
  background: #262626 !important;
}
.company .swiper-pagination-bullet-active {
  border: 2px solid #262626 !important;
  background: #d9d9d9 !important;
}
.swiper-button-prev:after {
  content: url('../img/icons/company-slider__left.svg');
}
.swiper-button-next:after {
  content: url('../img/icons/company-slider__right.svg');
}
.company-description {
  width: 936px;
  background: #ffffff;
  margin-left: 20px;
  padding: 15px 0px 250px 0px;
  box-sizing: border-box;

  &__title {
    font-family: 'Inter';
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    color: #0a8745;
    margin-left: 20px;
  }

  &__text {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    color: #262626;
    display: block;
    margin: 14px 20px 0 20px;
  }
}
.company-products {
  width: 936px;
  background: #ffffff;
  margin-left: 20px;
  padding: 20px 0 250px 0;
  box-sizing: border-box;
  &__top {
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #262626;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    margin-left: 17px;
  }
  &__select {
    margin-top: -28px;
    margin-right: 0;
  }
  &__row {
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-top: 1px solid #e5e0e0;
    & .product {
      width: 209px;
      margin: 0 20px 40px 0;
      &-img {
        width: 100%;
        height: 209px;
      }
      &-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #404040;
      }
      .product-pcs {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #262626;
        display: block;
      }
      .product-order {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #999999;
        &__pcs {
          color: #262626;
        }
      }
    }
  }
}

.banner {
  @extend %container;
  height: 380px;
  margin-top: 20px;
  position: relative;
  &-bg {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
      width: 339px;
      height: 200px;
      z-index: 2;
    }
    &__img {
      width: 100%;
      height: 240px;
      position: absolute;
      z-index: 1;
    }
  }

  &-info {
    width: 100%;
    height: 100px;
    background: #ffffff;
    display: flex;

    &__left {
      width: 40%;
      display: flex;
    }

    &__right {
      width: 60%;
    }

    &__logo {
      width: 60px;
      height: 60px;
      margin: 20px 0 0 20px;
    }

    &__text {
      margin: 23px 0 0 20px;
    }

    &__title {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
      line-height: 21.09px;
      color: #262626;
    }

    &__description {
      width: 240px;
      height: 21px;
      display: block;
      background: #d9d9d9;
      margin-top: 7px;
    }
  }

  &-search {
    width: 500px;
    height: 40px;
    margin-top: 30px;
    float: right;
    margin-right: 20px;
    position: relative;

    &__input {
      width: 100%;
      height: 40px;
      left: 322px;
      top: 15px;
      background: #ffffff;
      border: 2px solid #0a8745;
      border-radius: 50px;
      padding-left: 26px;
      box-sizing: border-box;
      font-size: 14px;

      font-weight: 400;

      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        line-height: 16.41px;
        color: #adb0b3;
      }
    }

    &__btn {
      width: 90px;
      height: 40px;
      background: #0a8745;
      border-radius: 0px 50px 50px 0px;
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: 15px;

      color: #ffffff;
    }
  }

  &-tabs {
    background: #0a8745;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    &__list {
      display: flex;
      margin-left: 15px;
    }

    &__link {
      color: #ffffff;
      font-size: 14px;
      line-height: 16.41px;
      font-weight: 500;
      font-family: 'Roboto';
      box-sizing: border-box;
      text-align: center;
      width: 107px;
      height: 40px;
      margin-left: 1px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        background: #086e38;
      }

      &:first-child {
      }
    }
  }
}

.certificates,
.management {
  border-top: 2px solid #0a8745;
  box-sizing: border-box;
  padding: 14px 20px 0 20px;
  &-title {
    color: #0a8745;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.certificates {
  margin-top: 20px;
  &-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-top: 15px;
  }
  &-block {
    width: 156px;
    height: 220px;
    background: #d9d9d9;
    margin-bottom: 26.5px;
  }
}
.management {
  padding-top: 11px;
  margin-top: -5px;
  &-row {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  &-block {
    width: 282px;
    overflow: hidden;
    margin-bottom: 35px;
    &__img {
      width: 100%;
      height: 302px;
    }
    &__title {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #262626;
      margin-top: 17px;
    }

    &__description {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #8c8c8c;
    }
  }
}
