body {
  &.lock {
    overflow: hidden;
  }
}

.backgroundPlate,
.backgroundPlateCompanyTop,
.backgroundPlateCompanyProducts {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 250ms ease-in-out;
  animation: fadeIn 250ms ease-in-out;
  @media (max-width: 670px) {
    z-index: 9;
  }
  &.active {
    display: block;
    z-index: 9;
  }
}
.backgroundPlateCompanyProducts,
.backgroundPlateCompanyTop {
  display: block;
  z-index: 9;
}
.backgroundPlateCompanyProducts {
  background: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
  height: 70px;
  z-index: 1;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  &-main {
    @extend %container;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
      max-width: 100%;
      width: 100%;
    }
    &__logo {
      &-img {
        cursor: pointer;
        width: 81px;
        height: 25px;
        margin-top: 8px;
        @media (max-width: 600px) {
          margin-left: 10px;
          margin-top: 9.5px;
          width: 60.31px;
          height: 18.67px;
        }
      }
    }

    & .main-unit {
      display: flex;
      &__btn {
        width: 110px;
        height: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-right: 15px;
        color: #262626;
        justify-content: center;
        background: none;
        cursor: pointer;
        @media (max-width: 370px) {
          margin-left: 20px;
          margin-right: 0;
          width: 85px;
        }
        &.active {
          background: linear-gradient(78.83deg, #f00b1d 0%, #ff5833 100%);
          border-radius: 8px;
          color: #ffffff;
        }
      }
    }

    &__back {
      margin: 0 5px 0 20px;
      display: none;
      &.active {
        display: block;
        @media (min-width: 600px) {
          display: none;
        }
      }
      &-img {
        margin: 5px 0 0 0;
        cursor: pointer;
      }
    }
  }

  &-product {
    display: none;
    z-index: 999;
    width: 100%;
    background: #fff;
    position: fixed;
    height: 56px;
    padding: 15px 0 0 0;
    margin: 0;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
    @media (max-width: 600px) {
      display: flex;
    }
    &__block {
      display: none;
      &.active {
        display: contents;
      }
    }
    &__search {
      display: none;
      -webkit-animation: rightIn 250ms ease-in-out;
      animation: rightIn 250ms ease-in-out;
      &.active {
        display: block;
      }
    }
    &__loupe {
      display: block;
      margin-right: 21.5px;
      cursor: pointer;
      &.hide {
        display: none;
      }
    }
    &__share {
      margin-right: 20px;
      cursor: pointer;
    }
    .header-share__block {
      display: none;
      position: fixed;
      top: 0;
      height: 56px;
      width: 100%;
      align-items: center;
      justify-content: end;
      &.active {
        display: flex;
      }
    }
    &__copy {
      width: 132px;
      height: 38px;
      background: #a7a7a7;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
          rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      }

      &-icon {
        margin-right: 7px;
      }
      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #404040;
      }
    }
    &__social {
      margin: 5px 0 0 10px;
      cursor: pointer;

      & svg {
        background: none;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
            rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
      }
    }
    &__close {
      margin: 5px 20px 0 15px;
      cursor: pointer;

      & svg {
        background: none;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
            rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
      }
    }

    &__product {
      &.active {
        display: none;
      }
    }
    &__logo {
      margin: 5px 0 0 5px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      right: -5px;
      cursor: pointer;
      &.hide {
        display: none;
      }
    }
    &__back {
      margin-left: 20px;
      cursor: pointer;
      &.hide {
        display: none;
      }
      &-two {
        margin-left: 20px;
        display: none;
        cursor: pointer;
        &.active {
          display: block;
        }
        &.hide {
          display: none;
        }
      }
    }
    &__modal,
    &__row {
      display: none;
      &.active {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
      }
    }
  }

  &-category {
    display: none;
    z-index: 5;
    width: 100%;
    background: #fff;
    position: fixed;
    height: 56px;
    padding-top: 15px;
    &.active {
      @media (max-width: 600px) {
        display: flex;
      }
    }

    & .header-block__search {
      margin-right: 0;
    }
    & .header-search__input {
      max-width: 326px;
      width: 100%;
      height: 36px;
    }
  }

  &-desktop {
    @media (max-width: 600px) {
      display: none;
    }
    &__back {
      &.active {
        display: flex;
      }
    }
    &__list {
      @media (max-width: 600px) {
        display: none;
      }
    }
    &__modal {
      position: fixed;
      display: none;
      flex-wrap: wrap;
      &.active {
        display: flex;
      }
    }
    &.active {
      display: flex;
      @media (max-width: 600px) {
        display: none;
      }
    }
    @media (max-width: 600px) {
      padding: 10px 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &-categories {
    display: none;
    flex-wrap: wrap;
    height: auto;
    background: #fff;
    width: 100%;
    padding: 10px 20px;
    @media (max-width: 600px) {
      display: flex;
      &.active {
        display: flex;
      }
    }
    &__modal {
      &.active {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__top {
      display: flex;
      width: 100%;

      & .header-block__search {
        padding: 0;
        margin-left: 20px;
        margin-right: 10px;
        top: 0;
      }

      & .header-search {
        margin: 0;
      }

      & .header-search__img {
        width: 14px;
        height: 14px;
        top: 11px;
        left: 16px;
        z-index: 11;
      }
    }
    &__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 50px;
      margin-top: 5px;
    }
    &__btn {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &__back {
      display: flex;
      align-items: center;
      cursor: pointer;
      &.active {
        display: flex;
      }
    }
    & .search-unit {
      display: flex;
      &__btn {
        width: 110px;
        height: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-right: 15px;
        color: #262626;
        justify-content: center;
        background: none;
        @media (max-width: 370px) {
          margin-left: 20px;
          margin-right: 0;
          width: 85px;
        }
        &.active {
          background: linear-gradient(78.83deg, #f00b1d 0%, #ff5833 100%);
          border-radius: 8px;
          color: #ffffff;
        }
      }
    }
  }

  &-block {
    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__search {
      width: 100%;
      margin: 0 20px;
      position: relative;
      padding: 0px 5px;

      &.active {
        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
        border-radius: 25px;
        z-index: 11;
        padding: 5px 5px;
        margin-top: -5px;

        @media (max-width: 600px) {
          background: none;
          box-shadow: none;
          margin-right: 10px;
          padding: 0;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
        margin-left: 10px;
        margin-right: 5px;
        top: -5px;
      }
    }

    &__btn {
      padding-top: 8px;
      display: flex;
      cursor: pointer;
    }

    &__examples {
      display: none;
      height: 350px;
      position: absolute;
      background: #ffffff;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 25px;
      &.active {
        display: block;
      }
    }
  }

  &-logo {
    margin-top: 8px;
    width: 80.7px;
    height: 25px;
    @media (max-width: 600px) {
      width: 60.31px;
      height: auto;
      margin-top: 0;
    }
  }

  &-search {
    max-width: 712px;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 10;
    &.active {
      position: fixed;
    }
    // @media (max-width: 992px) {
    //   width: 512px;
    // }
    // @media (max-width: 768px) {
    //   width: 412px;
    // }
    @media (max-width: 600px) {
      width: 100%;
      position: relative;
      display: inline-flex;
      height: 36px;
    }
    @media (max-width: 600px) {
      margin: 6px 0 0 0;
    }
    &__img {
      display: none;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 16px;
      left: 20px;
      z-index: 11;
      background: none;
      & path {
        stroke: #acb0b3;
      }
      @media (max-width: 600px) {
        display: block;
      }
    }
    &__input {
      width: 100%;
      height: 40px;
      left: 322px;
      top: 15px;
      background: #ffffff;
      border: 2px solid #f00b1d;
      border-radius: 50px;
      padding-left: 23px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 400;
      @media (max-width: 600px) {
        background: #f2f2f2;
        border: 0;
        height: 36px;
        position: relative;
        left: 0;
        top: 0;
        padding-left: 40px;
      }
      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Roboto';
        line-height: 16.41px;
        color: #adb0b3;
      }
    }

    &__btn {
      width: 90px;
      height: 40px;
      background: linear-gradient(78.83deg, #f00b1d 0%, #ff5833 100%);
      border-radius: 0px 50px 50px 0px;
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: 15px;
      color: #ffffff;
      line-height: 22px;
      margin-right: 2px;
      cursor: pointer;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &-btn {
    text-align: center;
  }
  &-basket {
    margin-left: 13px;
  }
  &-sign,
  &-basket {
    cursor: pointer;
    @media (max-width: 600px) {
      display: none;
    }
    &__img {
      width: 22px;
      height: 22px;
      fill: #404040;
    }

    &__text {
      display: block;
      font-size: 12px;

      color: #262626;
      font-weight: 500;
    }
  }
}

.header-desktop {
  height: 70px;
  @media (max-width: 600px) {
    display: none;
  }
  &.active {
    background: rgba(255, 255, 255, 0.3);
  }
  & .header-main {
    &__list {
      margin: 15px -6px 0 -6px;
      display: none;
      width: 724px;
      @media (max-width: 992px) {
        width: 524px;
      }
      @media (max-width: 768px) {
        width: 424px;
      }
      @media (max-width: 600px) {
        display: none;
      }
      &.active {
        display: block;
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
    &__link {
      height: 50px;
      width: 100%;
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #262626;
      padding: 12px 0 12px 19.2px;
      &:hover {
        background: rgba(255, 88, 51, 0.08);
      }
    }
  }

  &-categories {
    margin-left: 29px;

    &__btn {
      position: relative;
      width: 134px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(78.83deg, #f00b1d 0%, #ff5833 100%);
      border-radius: 50px;
      z-index: 100;
      cursor: pointer;

      & span {
        margin-left: 9px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
      }
    }

    &__menu {
      display: none;
      position: absolute;
      margin-top: 15px;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 0px 0px 2px rgb(204 204 204 / 60%);
      z-index: 100;
      &.active {
        display: flex;
      }

      &_left {
        width: 260px;
        height: 186px;
        padding: 10px;
        box-shadow: 0px 0px 2px rgb(204 204 204 / 60%);

        & p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 11px;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #404040;
          cursor: pointer;
          &.active {
            background: #ff5833;
            border-radius: 25px;
            font-weight: 400;
            color: #ffffff;
            & svg path {
              fill: #ffffff;
            }
          }
        }
      }

      &_right {
        width: 260px;
        height: 186px;
        padding: 12px 14px;
        display: flex;
        flex-direction: column;
        & a {
          margin-bottom: 7px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #404040;
          transition: all 0.2s ease;
          &:hover {
            color: #ff5833;
          }
        }
      }
    }

    &__background {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.1);
      -webkit-animation: fadeIn 250ms ease-in-out;
      animation: fadeIn 250ms ease-in-out;
      &.active {
        display: block;
      }
    }
  }
}

.header-mobile {
  height: 56px;
  padding-top: 3px;
  @media (min-width: 601px) {
    display: none !important;
  }
  &__back {
    display: none;
    cursor: pointer;
    @media (max-width: 600px) {
      margin: 0px 5px 0 20px;
    }
    &.active {
      display: block;
    }
    &-img {
      width: 14px;
      height: 24.26px;
      cursor: pointer;
    }
  }
  &__logo {
    display: block;
    cursor: pointer;
    &.hide {
      display: none;
    }
    &-img {
      &.hide {
        display: none;
      }
    }
  }
  & .main {
    &-modal {
      display: none;
      -webkit-animation: fadeIn 250ms ease-in-out;
      animation: fadeIn 250ms ease-in-out;
      @media (max-width: 600px) {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 6;
        left: 0;
        top: 52px;
        &.active {
          display: flex;
        }
      }
      &__block {
        display: flex;
        width: 100%;
      }
      &__top {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        background: #ffffff;
        z-index: 3;
        width: 100%;
        height: auto;
        padding-top: 6px;
      }
      &__bottom {
        width: 100%;
      }

      &__list {
        display: block;
        width: 100%;
        margin-top: 45px;
        padding-top: 5px;
        box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
        &.active {
          display: block;
        }
      }
      &__link {
        height: 50px;
        width: 100%;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #262626;
        padding: 12px 0 12px 19.2px;
        border-bottom: 1px solid #f2f2f2;
        &:hover {
          background: rgba(255, 88, 51, 0.08);
        }
      }
    }
    &-unit {
      display: none;
      @media (max-width: 600px) {
        display: flex;
      }
      &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #666666;
        margin: 0px 13px 0 20px;
      }
    }
  }
}

.search-block {
  display: block;
  width: 622px;
  height: 100%;
  top: 95px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &.active {
    display: block;
    top: 14px;
    left: 0;
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.6);
    border-radius: 0px 0px 10px 10px;
  }

  &__bottom {
    & .search-block__link {
      height: 30px;
      padding-left: 20px;
      box-sizing: border-box;
      @media (max-width: 600px) {
        height: 50.5px;
      }
    }
  }
  &__list {
    width: 100%;
    margin-top: -10px;
    @media (max-width: 600px) {
      margin-top: 0;
    }
  }

  &__link {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: 600px) {
      padding-left: 20px;
      box-sizing: border-box;
      border-top: 1px solid #f2f2f2;
    }
    &.active {
      display: flex;
    }
  }
}
