.products {
  // @extend %container;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(204, 204, 204, 0.6);
  @media (max-width: 670px) {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-left {
    width: 244px;
    height: auto;
    padding: 20px 40px 20px 20px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1220px) {
      width: 25%;
    }
    @media (max-width: 768px) {
      width: 30%;
    }
    @media (max-width: 670px) {
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      padding: 18px 0px 20px 18px;
    }
    &__scroll {
      background: #f2ded2;
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      @media (max-width: 670px) {
        display: none;
      }
    }
    &__two {
      background: #a6d8d4;
    }
    &__decanter {
      background: #daf2d2;
    }

    &__caps {
      background: #d2d9f2;
    }

    &__equipment {
      background: #f2f1d2;
    }

    &__title {
      font-size: 20px;
      line-height: 23px;
      font-weight: 500;
      color: #262626;
      z-index: 2;
      position: relative;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 21.09px;
      }
      @media (max-width: 670px) {
        font-size: 18px;
      }
    }
  }
  &-btn {
    background: linear-gradient(to right, #ff3343 0%, #ff6d4d 100%);
    cursor: pointer;
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.41px;
    color: #ffffff;
    border-radius: 6px;
    margin-top: 8px;
    z-index: 2;
    position: relative;
    @media (max-width: 670px) {
      position: absolute;
      right: 20px;
      color: #666666;
      background: none;
      font-weight: 400;
      width: auto;
      height: auto;
      margin: 0;
      top: 18px;
    }

    &__text {
      font-weight: 600;
      font-size: 14px;
      line-height: 16.41px;
      color: #ffffff;
      & .desktop {
        display: inline;
        margin-left: 4px;
        @media (max-width: 480px) {
          display: none;
        }
      }
      @media (max-width: 670px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
      }
    }
    &__img {
      display: none;
      @media (max-width: 670px) {
        width: 4px;
        height: 6.93px;
        display: inline;
        margin-left: 5px;
      }
    }
  }
  &-right {
    width: 956px;
    min-width: 956px;
    border-radius: 0 10px 10px 0;
    overflow-x: scroll;
    position: relative;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0 15px 0 0;
    @media (max-width: 1220px) {
      min-width: auto;
      width: 79%;
    }
    @media (max-width: 768px) {
      width: 70%;
      background: #fff;
      height: auto;
      padding: 0 0 10px;
    }
    @media (max-width: 670px) {
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    @media (max-width: 480px) {
      padding: 10px 5px 8px;
    }
  }
  &-shadow__right {
    position: absolute;
    background: linear-gradient(270deg, #ffffff 4.17%, rgba(255, 255, 255, 0) 100%);
    display: block;
    position: absolute;
    right: 0;
    width: 91px;
    height: 240px;
    z-index: 2;
    border-radius: 0 10px 10px 0;
    transition: all 0.3s ease;
    @media (max-width: 670px) {
      display: none;
    }
  }

  &-max {
    z-index: 1;
    width: 155px;
    min-width: 155px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    background: #ffffff;
    margin: 15px 0 9px 15px;
    border: 0;
    display: flex;
    &:hover {
      .products-max__img {
        & img {
          transform: scale(1.2);
        }
      }
    }
    @media (max-width: 768px) {
      width: 33%;
      display: flex;
      justify-content: center;
    }

    &__row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__content {
      margin-top: auto;
    }
    &__title,
    &__price,
    &__description,
    &__pcs {
      font-size: 14px;
      line-height: 16.41px;
      font-weight: 400;
      color: #404040;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      @media (max-width: 768px) {
        float: left;
      }
    }

    &__title {
      margin: 8px 0 5px 0;
    }

    &__price {
      line-height: 18.75px;
      font-weight: 600;
      font-size: 16px;
      color: #262626;
    }
    &__block {
      display: flex;
    }
    &__description {
      color: #999999;
      width: 60%;
      &:first-letter {
        text-transform: uppercase;
        display: inline-block;
      }
    }
    &__desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }
    &__mobile {
      display: none;
    }

    &__pcs {
      width: 60%;
      @media (max-width: 768px) {
        margin-left: 3px;
      }
    }

    &__img {
      height: 155px;
      width: 155px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      & img {
        transition: 1s;
        max-width: 100%;
        max-height: 100%;
        z-index: 2;
      }
    }
  }

  &-mob {
    min-width: 145px;
    margin: 15px 0 0 15px;
    position: relative;
    &:hover {
      .products-mob__img {
        & img {
          transform: scale(1.2);
        }
      }
    }
    @media (max-width: 480px) {
      min-width: 110px;
      margin: 0px 5px;
    }
    &__row {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__text {
      margin-top: auto;
    }
    &__title,
    &__price,
    &__description,
    &__pcs {
      font-size: 14px;
      line-height: 16px;
      display: inline-block;
      color: #404040;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      @media (max-width: 480px) {
        font-size: 12px;
        line-height: 14px;
      }
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    &__title {
      @media (max-width: 768px) {
        line-height: 14px;
        margin-top: 3px;
        max-width: 112px;
      }
    }
    &__price {
      font-weight: 600;
      color: #262626;
    }
    &__description {
      color: #999999;
      width: 30%;
    }
    &__pcs {
      margin-left: 3px;
      color: #404040;
      width: 70%;
    }
    &__block {
      display: flex;
    }
    &__desktop {
      @media (max-width: 670px) {
        display: none;
      }
    }
    &__mobile {
      @media (max-width: 670px) {
        display: -webkit-box;
      }
    }
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 120px;
      @media (max-width: 480px) {
        height: 110px;
      }

      & img {
        transition: 1s;
        z-index: 2;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &-min {
    border-right: 1px solid #e5e0e0;
    width: 25%;
    box-sizing: border-box;
    height: auto;
    padding: 12px 9.5px 10.5px 20px;
    position: relative;
    background: #ffffff;
    height: 50%;
    overflow: hidden;

    &:nth-child(4n + 4) {
      border-radius: 0 10px 10px 0px;
    }

    &:nth-child(-n + 4) {
      border-bottom: 1px solid #e5e0e0;
    }

    &:nth-child(1),
    &:nth-child(5) {
      border-left: 0;
    }

    &:nth-child(4) {
      border-radius: 0 10px 0 0;
    }

    &:nth-child(8) {
      border-radius: 0 0 10px 0;
    }

    &__path {
      clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 26%, 51% 25%, 51% 100%, 0 100%, 0% 30%);
      width: 100%;
      height: 100%;
      background: none;
    }

    &__text {
      font-size: 14px;
      line-height: 13.75px;
      font-weight: 500;
      color: #262626;
      @media (max-width: 1220px) {
        line-height: 18.75px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-wrap: break-word;
      }
    }

    &__img {
      position: absolute;
      right: 9.5px;
      bottom: 10.5px;
      max-width: 103px;
      max-height: 70px;
      background-size: 100%;
      min-width: 70px;
      min-height: 70px;
      z-index: 2;
      position: absolute;
      top: 40px;
    }
  }
}
