.applyied {
  &-block {
    border-bottom: 1px solid #e5e0e0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.6);
    box-sizing: border-box;
    @media (max-width: 600px) {
      display: none;
    }
  }

  &-result {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-wrapper {
    display: flex;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 8px 23px;
    background: #ffffff;
    transition: all 0.3s ease;
    border-radius: 8px;

    & svg {
      margin-right: 7px;
    }

    &.active {
      background: linear-gradient(#f00b1d 0, #ff5833 100%);
    }

    &.active &__text {
      font-weight: 600;
      color: #ffffff;
    }

    &.active svg path {
      fill: #ffffff;
    }

    &__text {
      color: #262626;
      font-size: 16px;
      line-height: 18.75px;
      font-weight: 500;
    }
  }

  &-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    font-family: 'Roboto';
    color: #262626;

    &__orange {
      background: linear-gradient(#f00b1d 0, #ff5833 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.sorting {
  display: flex;
  margin-right: 5px;

  &-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;

    &:first-child {
      margin-right: 10px;
    }

    & rect {
      fill: #e5e0e0;
    }

    &.active rect,
    &:hover rect {
      fill: #ff5833;
    }
  }
}

/*Search result - not found */
.not-found {
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    display: block;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
  }
}
